ion-content::part(background) {
    background-color: aliceblue;
}

ion-toolbar::part(background) {
    background: linear-gradient(60deg, rgb(84, 58, 183) 0%, rgb(0, 172, 193) 100%);
}

.head {
    // height: 180px;
    background: linear-gradient(60deg, rgb(84, 58, 183) 0%, rgb(0, 172, 193) 100%);
    // border-radius: 10px;
    color: aliceblue;
    mix-blend-mode: color-dodge;
}

.content {
    border-radius: 10px;
    background: linear-gradient(60deg, rgb(84, 58, 183) 0%, rgb(0, 172, 193) 100%);;
}
