<ion-header class="head">

  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="goToBack()" color="primary">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <span style="display: flex; justify-content: center; align-items: center;">Perfil</span>
    <ion-buttons style="width: 35px;" slot="end">
      <ion-icon (click)="editProfile()" name="create-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
  <form (ngSubmit)="onSubmit()" enctype="multipart/form-data">
    <input type="file" name="file" (change)="onFileSelected($event)" />
    <button type="submit" [disabled]="!file">Upload</button>
  </form>
</ion-content>