<ion-header>
  <ion-toolbar color="primary">
    <ion-title style="justify-content: center; align-items: center; display: grid;">Cadastrar Veiculo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-label>Tipo de Veículo</ion-label>
    <ion-select [(ngModel)]="tipoVeiculoSelecionado">
      <ion-select-option value="{{ tipo }}" *ngFor="let tipo of tiposVeiculo">{{ tipo }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item class="componente">
    <ion-input [(ngModel)]="placa" placeholder="Placa" maxlength="7"></ion-input>
  </ion-item>

  <div class="principalplaca">
    <div class="corpo">
      <div class="placa">
        <div class="placa_inner">
          <div class="header">
            <h3>BRASIL</h3>
            <img src="https://images.emojiterra.com/twitter/v11/512px/1f1e7-1f1f7.png" alt="">
          </div>
          <div class="placa_body">
            <div class="qrcode">
              <img src="https://upload.wikimedia.org/wikipedia/commons/6/65/QR_code_for_QRpedia.png" alt="">
              <p>BR</p>
            </div>
            <h1>{{ placa }}</h1>
            <div></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ion-button expand="block" (click)="cadastrarVeiculo()">Cadastrar</ion-button>
</ion-content>