<ion-header>
  <ion-toolbar color="primary">
    <ion-title style="justify-content: center; align-items: center; display: grid;">Cadastrar Veiculo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h2 class="text-center">Tipo</h2>
  <div class="container">
    <div class="slid-er">
      <div class="slides" id="slides">

        <div class="slide">
          <div class="slide-content">
            <a href="https://www.pinterest.com/pin/42502790224869685/" target="_blank">
              <img src="https://i.pinimg.com/originals/e2/16/b0/e216b0f9c1cda3f4b5cdf44fee26060d.jpg" loading="lazy" />
              <div class="button-container">
                <span class="button">Download</span>
              </div>
            </a>
          </div>
        </div>

        <div class="slide">
          <div class="slide-content">
            <a href="https://www.pinterest.com/pin/15833036179887216/" target="_blank">
              <img src="https://i.pinimg.com/originals/fd/d7/cc/fdd7ccccc4b74cea4f15ba1702ef8813.jpg" loading="lazy" />
              <div class="button-container">
                <span class="button">Download</span>
              </div>
            </a>
          </div>
        </div>

        <div class="slide">
          <div class="slide-content">
            <a href="https://www.pinterest.com/pin/125045327144436605/" target="_blank">
              <img src="https://i.pinimg.com/originals/fb/4a/d5/fb4ad589b0cefbc990524e03e7e39eef.jpg" loading="lazy" />
              <div class="button-container">
                <span class="button">Download</span>
              </div>
            </a>
          </div>
        </div>

        <div class="slide">
          <div class="slide-content">
            <a href="https://www.pinterest.com/pin/413909022012674906/?mt=login" target="_blank">
              <img src="https://i.pinimg.com/originals/84/2e/46/842e46400117c1c04a19591d28fd8c18.png" loading="lazy" />
              <div class="button-container">
                <span class="button">Download</span>
              </div>
            </a>
          </div>
        </div>

        <div class="slide">
          <div class="slide-content">
            <a href="https://www.pinterest.com/pin/amelie-poulain-audrey-tautou--407857309977538667/" target="_blank">
              <img
                src="https://i.pinimg.com/236x/46/a6/3e/46a63ed5171192f262780b550ca1ca62--chez-elle-audrey-tautou.jpg"
                loading="lazy" />
              <div class="button-container">
                <span class="button">Download</span>
              </div>
            </a>
          </div>
        </div>

        <div class="slide">
          <div class="slide-content">
            <a href="https://www.pinterest.com/pin/703617141757346153/?mt=login" target="_blank">
              <img src="https://i.pinimg.com/236x/5f/b4/d0/5fb4d05431e64e17fa8d7ae3040657f3.jpg" loading="lazy" />
              <div class="button-container">
                <span class="button">Download</span>
              </div>
            </a>
          </div>
        </div>

        <div class="slide">
          <div class="slide-content">
            <a href="https://www.pinterest.com/pin/307933693249401885/" target="_blank">
              <img src="https://i.pinimg.com/originals/cc/c7/3d/ccc73d8fba861806354424eab2e620cc.jpg" loading="lazy" />
              <div class="button-container">
                <span class="button">Download</span>
              </div>
            </a>
          </div>
        </div>

        <!-- Mirror content -->
        <div class="slide">
          <div class="slide-content">
            <a href="https://www.pinterest.com/pin/42502790224869685/" target="_blank">
              <img src="https://i.pinimg.com/originals/e2/16/b0/e216b0f9c1cda3f4b5cdf44fee26060d.jpg" loading="lazy" />
              <div class="button-container">
                <span class="button">Download</span>
              </div>
            </a>
          </div>
        </div>
        <div class="slide">
          <div class="slide-content">
            <a href="https://www.pinterest.com/pin/15833036179887216/" target="_blank">
              <img src="https://i.pinimg.com/originals/fd/d7/cc/fdd7ccccc4b74cea4f15ba1702ef8813.jpg" loading="lazy" />
              <div class="button-container">
                <span class="button">Download</span>
              </div>
            </a>
          </div>
        </div>
        <div class="slide">
          <div class="slide-content">
            <a href="https://www.pinterest.com/pin/125045327144436605/" target="_blank">
              <img src="https://i.pinimg.com/originals/fb/4a/d5/fb4ad589b0cefbc990524e03e7e39eef.jpg" loading="lazy" />
              <div class="button-container">
                <span class="button">Download</span>
              </div>
            </a>
          </div>
        </div>
        <div class="slide">
          <div class="slide-content">
            <a href="https://www.pinterest.com/pin/413909022012674906/?mt=login" target="_blank">
              <img src="https://i.pinimg.com/originals/84/2e/46/842e46400117c1c04a19591d28fd8c18.png" loading="lazy" />
              <div class="button-container">
                <span class="button">Download</span>
              </div>
            </a>
          </div>
        </div>
        <div class="slide">
          <div class="slide-content">
            <a href="https://www.pinterest.com/pin/amelie-poulain-audrey-tautou--407857309977538667/" target="_blank">
              <img
                src="https://i.pinimg.com/236x/46/a6/3e/46a63ed5171192f262780b550ca1ca62--chez-elle-audrey-tautou.jpg"
                loading="lazy" />
              <div class="button-container">
                <span class="button">Download</span>
              </div>
            </a>
          </div>
        </div>
        <div class="slide">
          <div class="slide-content">
            <a href="https://www.pinterest.com/pin/703617141757346153/?mt=login" target="_blank">
              <img src="https://i.pinimg.com/236x/5f/b4/d0/5fb4d05431e64e17fa8d7ae3040657f3.jpg" loading="lazy" />
              <div class="button-container">
                <span class="button">Download</span>
              </div>
            </a>
          </div>
        </div>
        <div class="slide">
          <div class="slide-content">
            <a href="https://www.pinterest.com/pin/307933693249401885/" target="_blank">
              <img src="https://i.pinimg.com/originals/cc/c7/3d/ccc73d8fba861806354424eab2e620cc.jpg" loading="lazy" />
              <div class="button-container">
                <span class="button">Download</span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ion-item style="margin-top: 15px;">
    <ion-input [(ngModel)]="placa" placeholder="Placa"></ion-input>
  </ion-item>

  <div class="principalplaca">
    <div class="corpo">
      <div class="placa">
        <div class="placa_inner">
          <div class="header">
            <h3>BRASIL</h3>
            <img src="https://images.emojiterra.com/twitter/v11/512px/1f1e7-1f1f7.png" alt="">
          </div>
          <div class="placa_body">				
            <div class="qrcode">
              <img src="https://upload.wikimedia.org/wikipedia/commons/6/65/QR_code_for_QRpedia.png" alt="">
              <p>BR</p>
            </div>
            <h1>{{ placa }}</h1>
            <div></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ion-button expand="block" (click)="cadastrarVeiculo()">Cadastrar</ion-button>
</ion-content>