<ion-header>
  <ion-toolbar>
    <ion-title>Checkout</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="custom-modal">
  <div>
    <!-- Conteúdo do checkout aqui -->
    <h2>Checkout</h2>
    <p>Insira os detalhes de pagamento e finalize sua compra.</p>
    <!-- Adicione os campos e elementos necessários para o checkout -->
  </div>
</ion-content>
