ion-item {
    border-radius: 48px;
    height: 53px;
    box-shadow: 0px 0.5px 3px 0px rgba(0, 0, 0, 0.83);
    --highlight-height: 0px;

    ion-input {
        font-size: 18px;
        --padding-top: 20px;
        --padding-bottom: 15px;
        --padding-start: 5px;
    }

    a {
        font-size: 17px;
        letter-spacing: 0.5px;
        text-decoration: none;
    }
}