<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goToBack()" color="primary">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/login">Entrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <h1>Crie sua <br/>conta</h1>

  <form id="form" [formGroup]="register">
    <ion-item style="margin-top: 15px;">
      <ion-input formControlName="Email" placeholder="Email"></ion-input>
    </ion-item>

    <ion-item style="margin-top: 15px;">
      <ion-input formControlName="Senha" type="password" placeholder="Senha"></ion-input>
    </ion-item>

    <ion-button (click)="RegisterAccount(register)" expand="block" shape="round">Registrar</ion-button>
  </form>

  <p>Ao pressionar 'Registrar' você concordará com <br/> nossos termos & condições. </p>
</ion-content>