<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>Menu Content</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item (click)="teste()">
          <ion-avatar slot="start">
            <img alt="Silhouette of a person's head" src="../../assets/images/profile.jpg" />
          </ion-avatar>
          <ion-label>Thiago Degobi</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title style="text-align: center;">Car Wash Time</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>

    </ion-content>
  </div>
</ion-app>