ion-menu::part(backdrop) {
  background-color: rgb(75, 165, 177);
}

ion-menu::part(container) {
  border-radius: 0 20px 20px 0;

  box-shadow: 4px 0px 16px rgb(75, 165, 177);
}

.container {
 width: 100%;
 height: 50%;
}

capacitor-google-map {
  display: inline-block;
  width: 100%;
  height: 50%;
}