<ion-app>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title style="text-align: center;">CW City</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <div class="container">
        <capacitor-google-map id="map" #map></capacitor-google-map>
      </div>

      <!-- <ion-card *ngFor="let empresa of empresas">
        <img style="justify-content: center; align-items: center; width: 100px; height: 50px;" src="{{ empresa.imagem }}" />
        <ion-card-header>
          <ion-card-title>{{ empresa.nome }}</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          {{ empresa.descricao }}
        </ion-card-content>
      </ion-card> -->
      
    </ion-content>

    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="account">
        <ion-icon name="reader-outline"></ion-icon>
        <!-- <ion-icon routerLink="/perfil" name="person"></ion-icon> -->
      </ion-tab-button>

      <ion-tab-button tab="contact">
        <ion-icon style="color: green;" name="add-circle-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="settings">
        <ion-icon name="settings"></ion-icon>
      </ion-tab-button>

    </ion-tab-bar>
  </div>
</ion-app>