<ion-app>
  <div class="ion-page" id="main-content">
    <ion-header>
      <link href='https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.css' rel='stylesheet' />
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-button (click)="logout()">
            <ion-icon name="log-out-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button>
            <ion-icon name="notifications"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <div class="containermap">
        <capacitor-google-map id="map" #map></capacitor-google-map>
      </div>
    </ion-content>

    <ion-content>     

      <ion-col size="12" size-md="6" size-lg="4" style="flex: 0 0 100%;" *ngFor="let empresa of empresas">
        <ion-card class="cardPrincipal" (click)="destinationOnMap(empresa)">

          <img src="{{ empresa.imagem }}" />

          <ion-card-header style="display: flex; justify-content: center;">
            <ion-card-title>{{ empresa.nome }}</ion-card-title>
          </ion-card-header>

          <ion-card-content style="display: flex; justify-content: center;">
            {{ empresa.descricao }}
          </ion-card-content>

          <ion-footer>
            <ion-row>
              <ion-col class="navigation-col">
                <button class="navigation-button">
                  <ion-icon name="navigate-circle-outline" class="navigation-icon"></ion-icon>
                  <div class="navigation-text">{{ empresa.distancia }} Km</div>
                </button>
              </ion-col>
              <ion-col style="display: flex; justify-content: center;">
                <button style=" background: initial;">
                  <ion-icon style="color: green;" name="cash-outline"></ion-icon>
                  <div>Ver preços</div>
                </button>
              </ion-col>
            </ion-row>
          </ion-footer>

        </ion-card>
        
        <!-- <div style="display: grid; justify-content: center; align-items: center;" class="containerPrincipal">
          <div class="container">
            <div class="chevron"></div>
            <div class="chevron"></div>
            <div class="chevron"></div>
          </div>
        </div> -->

      </ion-col>

    </ion-content>

    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="account">
        <ion-icon name="reader-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="contact">
        <!-- <ion-icon style="color: green;" name="add-circle-outline"></ion-icon> -->
      </ion-tab-button>

      <ion-tab-button tab="settings" (click)="veiculos()">
        <ion-icon name="car-sport"></ion-icon>
      </ion-tab-button>

    </ion-tab-bar>
  </div>
</ion-app>